<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zolotuhinartem.lastfminfo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.searched_albums.SearchedAlbumsActivity" />
        <activity android:name=".activities.searched_artists.SearchedArtistsActivity" />
        <activity android:name=".activities.top_tracks.TopTracksActivity" />
        <activity android:name=".activities.artist_info.ArtistInfoActivity" />
        <activity android:name=".activities.album_info.AlbumInfoActivity" />
        <activity android:name=".activities.track_info.TrackInfoActivity"></activity>
    </application>

</manifest>